/* ベーススタイル */
body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    color: #333;
    background-color: #f5f7fa;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ヘッダー */
header {
    background-color: #004aad;
    color: white;
    padding: 10px 0;
}

.logo {
    font-size: 1.8em;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* フォームを非表示にするためのスタイル */
.hidden {
    display: none;
}

/* CRMコンテナ */
.crm-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.crm-container h2 {
    margin-top: 0;
}

.crm-container label {
    display: block;
    margin-bottom: 10px;
}

.crm-container input,
.crm-container select,
.crm-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.crm-container button {
    background-color: #004aad;
    color: white;
    border: none;
    cursor: pointer;
}

.crm-container button:hover {
    background-color: #003a8c;
}

/* 案件リスト */
.case-header, .case-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px; /* 案件毎の間を詰める */
}
.case-header span{
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #333; /* 箱の中を濃いグレーに */
    color: white; /* 文字を白に */
    font-size: 0.7em; 
}
.case-item span {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
}

.case-item span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-item button {
    margin: 0 5px;
}

.case-item button.edit-case {
    background-color: #3498db;
}

.case-item button.delete-case {
    background-color: #e74c3c;
}

.case-item button:hover {
    opacity: 0.8;
}

/* 編集中の案件をハイライト */
.editing {
    background-color: #c8be65; /* 薄黄色 */
}

.case-item button {
    background-color: #f3aca5;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.case-item button.edit-case {
    background-color: #3498db;
}

.case-item button:hover {
    opacity: 0.8;
}

/* 住所以外の枠のサイズを文字に合わせる */
#case-list .case-item span:not(:nth-child(4)) {
    display: inline-block;
    width: auto;
    padding: 5px;
    font-size: 0.7em; /* 案件作成フォームと同じサイズに設定 */
    box-sizing: border-box;
}

#case-list .case-item span:nth-child(4) {
    width: 100%;
    padding: 5px;
    font-size: 0.7em; /* 案件作成フォームと同じサイズに設定 */
    box-sizing: border-box;
}

/* 案件作成フォームの文字サイズ */
#crm-form input[type="text"],
#crm-form input[type="number"],
#crm-form input[type="date"],
#crm-form select {
    font-size: 0.7em; /* 案件作成フォームの文字サイズ */
}